*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (orientation: portrait) {

}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #159957 linear-gradient(120deg, #155799, #159957);
    padding-top: 60px;
    position: relative;
}

body::before, body::after {

}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: all .3s ease;
    animation: nav-show .5s ease forwards;
}

.df {
    display: flex;
    align-items: center;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    justify-content: flex-end;
}

.nav-item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    right: 0;
    left: unset;
    height: 2px;
    bottom: 0;
    background-color: #ffffff;
    transition: width .3s ease;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item:hover::after {
    left: 0;
    right: unset;
    width: 100%;
}

.content {
    height: 100%;
}

.ctn {
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.ctn .half {
    flex: 1;
    height: 100%;
}

.ctn > .left {
    background-color: lightgray;
}

.ctn > .right {
    background-color: lightblue;
}

@keyframes nav-show {
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}